<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/dataviz/style.css" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
            integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"
            integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script defer src="/frontend_setup/setup.js"></script>
        <script defer src="/dataviz/script.js"></script>
    </head>

    <body>
        <header>
            <h1>Visualização de dados</h1>
            <a href="/">Controle de câmera</a>
        </header>
        <main>
            <div class="list-container">
                <ul id="file-list"></ul>
            </div>
            <div class="chart-container">
                <canvas id="chart" width="1100" height="500"></canvas>
            </div>
        </main>
    </body>
</html>
