<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/dataviz/style.css" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script defer src="/frontend_setup/setup.js"></script>
        <script defer src="/dataviz/script.js"></script>
    </head>

    <body>
        <header>
            <h1>Visualização de dados</h1>
            <a href="/">Controle de câmera</a>
        </header>
        <main>
            <div class="list-container">
                <ul id="file-list"></ul>
            </div>
            <div class="chart-container">
                <canvas id="chart"></canvas>
            </div>
        </main>
    </body>
</html>
