<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Expressões Faciais</title>
        <script defer src="/frontend_setup/setup.js"></script>
        <script defer src="/expression/script.js"></script>
        <link rel="stylesheet" href="/expression/style.css" />
    </head>

    <body>
        <video id="video-player" src="/videos/cut/NF.mp4" muted></video>
        <audio id="audio-player" autoplay></audio>
        <img id="audio-toggle" src="/img/volume_on.svg" alt="Áudio" />
    </body>
</html>
