<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/index/style.css" />
        <script defer src="/frontend_setup/setup.js"></script>
        <script defer src="/index/script.js"></script>
    </head>

    <body>
        <header>
            <h1>Controle de câmera referenciado pela pose do usuário</h1>
            <a href="/dataviz">Visualização de dados</a>
        </header>
        <main>
            <div class="video-container">
                <img id="video-player" alt="Vídeo local" />
                <img id="remote-video-player" alt="Vídeo remoto" />
            </div>
            <div>
                <input type="checkbox" id="auto" />
                <label class="checkbox-label" for="auto">
                    <img src="/img/video_on.svg" alt="Obtenção automática da pose" />
                </label>
                <p>Obtenção automática da pose</p>
            </div>
            <div class="sliders">
                <div class="slider-container">
                    <h2 class="slider-text">Controle pan</h2>
                    <div class="slider-inner-container">
                        <input class="slider" type="range" min="0" max="300" id="pan" />
                        <label for="pan" class="slider-label" id="pan-label">150°</label>
                    </div>
                </div>
                <div class="slider-container">
                    <h2 class="slider-text">Controle tilt</h2>
                    <div class="slider-inner-container">
                        <input class="slider" type="range" min="0" max="300" id="tilt" />
                        <label for="tilt" class="slider-label" id="tilt-label">150°</label>
                    </div>
                </div>
            </div>
            <div class="control-keyboard">
                <div class="control-input-bundle">
                    <input type="number" name="control-input" id="pan-input" />
                    <input type="number" name="control-input" id="tilt-input" />
                </div>
                <button>Confirmar</button>
            </div>
        </main>
    </body>
</html>
