<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/index/style.css" />
        <script defer src="/frontend_setup/setup.js"></script>
        <script defer src="/index/script.js"></script>
    </head>

    <body>
        <header>
            <h1>Controle de c칙mera referenciado pela pose do usu치rio</h1>
            <a href="/dataviz">Visualiza칞칚o de dados</a>
        </header>
        <main>
            <div class="video-container">
                <canvas width="160" height="120" id="video-player"></canvas>
                <canvas width="640" height="480" id="remote-video-player"></canvas>
            </div>
            <div class="call-buttons">
                <div class="call-button">
                    <input type="checkbox" id="mic" />
                    <label class="checkbox-label" for="mic">
                        <img class="call-img" src="/img/mic_on.svg" alt="Microfone" />
                        <p>Microfone</p>
                    </label>
                </div>
                <div class="call-button">
                    <input type="checkbox" id="auto" />
                    <label class="checkbox-label" for="auto">
                        <img class="call-img" src="/img/video_on.svg" alt="C칙mera" />
                        <p>C칙mera</p>
                    </label>
                </div>
                <div class="call-button">
                    <input type="checkbox" id="volume" />
                    <label class="checkbox-label" for="volume">
                        <img class="call-img" src="/img/volume_on.svg" alt="츼udio" />
                        <p>츼udio</p>
                    </label>
                </div>
            </div>
            <div class="call-buttons">
                <div class="expression-button">
                    <input type="radio" id="F" name="expression" value="F" />
                    <label class="checkbox-label" for="F">
                        <span class="emoji">游</span>
                        <p>Felicidade</p>
                    </label>
                </div>

                <div class="expression-button">
                    <input type="radio" id="S" name="expression" value="S" />
                    <label class="checkbox-label" for="S">
                        <span class="emoji">游땵</span>
                        <p>Surpresa</p>
                    </label>
                </div>

                <div class="expression-button">
                    <input type="radio" id="D" name="expression" value="D" />
                    <label class="checkbox-label" for="D">
                        <span class="emoji">游뱂</span>
                        <p>D칰vida</p>
                    </label>
                </div>

                <div class="expression-button">
                    <input type="radio" id="N" name="expression" value="N" />
                    <label class="checkbox-label" for="N">
                        <span class="emoji">游땛</span>
                        <p>Neutro</p>
                    </label>
                </div>
            </div>
            <div class="sliders">
                <div class="slider-container">
                    <h2 class="slider-text">Controle pan</h2>
                    <div class="slider-inner-container">
                        <input class="slider" type="range" min="0" max="300" id="pan" />
                        <label for="pan" class="slider-label" id="pan-label">150춿</label>
                    </div>
                </div>
                <div class="slider-container">
                    <h2 class="slider-text">Controle tilt</h2>
                    <div class="slider-inner-container">
                        <input class="slider" type="range" min="0" max="300" id="tilt" />
                        <label for="tilt" class="slider-label" id="tilt-label">150춿</label>
                    </div>
                </div>
            </div>
            <div class="control-keyboard">
                <div class="control-input-bundle">
                    <input type="number" name="control-input" id="pan-input" />
                    <input type="number" name="control-input" id="tilt-input" />
                </div>
                <button>Confirmar</button>
            </div>
        </main>
    </body>
</html>
